%% -*- mode: erlang -*-
[
    {erateserver, [
            {port, 1880},
            {pool_size, 30},
            {groups, [
                    % Each group is defined as {Name::atom(), UrlSegment::string(), Config::proplist()}
                    % Name is an erater group name, Config is an erater group config
                    {erate_100, "sample100", [{rps, 100}, {capacity, 50}]}
                    ]}
            ]}
].

